html {
  color: black;
}

#projects {
  clear: both;
}

#projects li {
  float: left;
  list-style: none;
  padding: 10px 50px;
}

#menu li {
  float: right;
  padding: 10px 50px;
  list-style: none;
}
